@font-face {
  font-family: "Gilroy Bold";
  src: url("./fonts/gilroy-extrabold_800-webfont.woff2") format("woff2");
  src: url("./fonts/gilroy-extrabold_800-webfont.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/gilroy-light_300-webfont.woff2") format("woff2");
  src: url("./fonts/gilroy-light_300-webfont.woff") format("woff");
}
