@use "footer";
@use "variables";
@use "mixins";
@use "fontface";
@use "header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

.main {
  background: $lightgray;
}

.fiblock {
  background: $secondary-color;
  height: 100vh;
  width: 100vw;

  &__content {
    display: flex;
  }

  &__leftpart {
    width: 40%;
    margin-top: 75px;
    padding-left: 200px;
  }

  &__h1 {
    font-size: 3rem;
    font-family: $secondary-font;
  }
  &__h2 {
    font-size: 2.3rem;
    font-family: $main-font;
    font-weight: 900;
    margin: 10px 0;
  }

  &__desc {
    width: 65%;
    margin: 20px 0;
  }

  &__introbutton {
    @include button-style();
    border: 2px solid $primary-color;
    background: none;
    color: $primary-color;

    cursor: pointer;
    margin-right: 15px;
  }

  &__explorebutton {
    @include button-style();
    background-color: $primary-color;
    color: $white;
  }

  &__rightpart {
    width: 60%;
  }

  &__rightpart img {
    width: 100%;
    height: auto;
  }
}

.sblock {
  margin-top: 50px;

  &__titlediv {
    width: 1260px;
    margin: 0 auto;
  }

  &__title {
    text-align: left;
    font-weight: 400;
  }

  &__viewmore {
    width: 150px;
    height: 35px;
    border: 2px solid $primary-color;
    background: none;
    color: $primary-color;
    border-radius: 50px;
    font-weight: 600;
  }

  &__firstline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__h3 {
    font-weight: 800;
  }
}

#petcontainer {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 425px);
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.petbox {
  width: 300px;
  height: 425px;
  background: $white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.petimage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.petname {
  font-size: 1.1rem;
  font-family: "Gilroy";
  font-weight: 900;
  padding-top: 15px;
}

.genreage {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.separationdot {
  margin: 0 10px;
  font-size: 1.7rem;
}

.prix {
  font-weight: 800;
  font-size: 1.1rem;
}

.tblock {
  width: 1260px;
  height: 425px;
  background: $secondary-color;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin: 25px auto;
  text-align: right;

  &__leftpart {
    width: 50%;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__rightpart {
    width: 50%;
    margin-right: 50px;
  }

  &__h2 {
    font-size: 3rem;
    font-family: "Gilroy Bold";
  }

  &__h3 {
    font-size: 2.3rem;
    font-family: $main-font;
    font-weight: 900;
    margin: 10px 0;
  }

  &__desc {
    width: 65%;
    margin: 20px 0 20px auto;
  }

  &__introbutton {
    @include button-style();
    border: 2px solid $primary-color;
    background: none;
    color: $primary-color;
    cursor: pointer;
    margin-right: 15px;
  }

  &__explorebutton {
    @include button-style();
    background-color: $primary-color;
    color: $white;
  }
}

.foblock {
  margin-top: 25px;

  &__titlediv {
    width: 1260px;
    margin: 0 auto;
  }

  &__title {
    text-align: left;
    font-weight: 400;
  }

  &__viewmore {
    width: 150px;
    height: 35px;
    border: 2px solid $primary-color;
    background: none;
    color: $primary-color;
    border-radius: 50px;
    font-weight: 600;
  }

  &__firstline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__h3 {
    font-weight: 800;
  }
}

#articlecontainer {
  display: grid;
  grid-template-columns: repeat(3, 410px);
  grid-template-rows: repeat(1, 425px);
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.articlebox {
  width: 410px;
  height: 425px;
  background-color: $white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.articleimage {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 10px;
}

.tags {
  font-size: 0.6rem;
  color: $white;
  background: $lightblue;
  padding: 5px 10px;
  border: none;
  border-radius: 50px;
  margin: 10px 0;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
}

.content {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px 0;
}
